.CardNewMessage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #FF0000;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row-reverse;
}

#root {
    background-color: #F2F3F5;
    min-height: 100%;
}

.ContainerNewMessage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
    max-width: 50%;
    margin-left: 25%;

}